@model HotelManagementEntity1.Models.Guest

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>
@*
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Guest</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.guestName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.guestName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.guestContact)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.guestContact)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.guestAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.guestAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.guestRoomType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.guestRoomType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.guestQuantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.guestQuantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.guestCheckinDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.guestCheckinDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.guestNoOfDaysStay)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.guestNoOfDaysStay)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.guestCost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.guestCost)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Room.roomType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Room.roomType)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
*@
<div class="container">
    <br />
    <div class="panel panel-default">

        <div class="panel-heading">Are you sure you want to delete this?</div>
        <div class="panel-body">

            <fieldset class="col-md-6">
                

                <legend>@Html.DisplayName("Name")</legend>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>@Html.DisplayFor(model => model.guestName)</p>
                    </div>
                </div>

                <legend>@Html.DisplayName("Contact")</legend>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>@Html.DisplayFor(model => model.guestContact)</p>
                    </div>
                </div>
                <legend>@Html.DisplayName("Address")</legend>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>@Html.DisplayFor(model => model.guestAddress)</p>
                    </div>
                </div>

                <legend>@Html.DisplayName("Room Type")</legend>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>@Html.DisplayFor(model => model.guestRoomType)</p>
                    </div>
                </div>
                <legend>@Html.DisplayName("Quantity")</legend>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>@Html.DisplayFor(model => model.guestQuantity)</p>
                    </div>
                </div>

                <legend>@Html.DisplayName("Checkin Date")</legend>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>@Html.DisplayFor(model => model.guestCheckinDate)</p>
                    </div>
                </div>

                <legend>@Html.DisplayName("No Of Days Stay")</legend>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>@Html.DisplayFor(model => model.guestNoOfDaysStay)</p>
                    </div>
                </div>

                <legend>@Html.DisplayName("Cost")</legend>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>@Html.DisplayFor(model => model.guestCost)</p>
                    </div>
                </div>
            </fieldset>

            <div class="clearfix"></div>
        </div>

    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to Guest List", "Index")
    </div>
}
