@model HotelManagementEntity1.Models.Guest

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Guest</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.guestId)

        <div class="form-group">
            @Html.LabelFor(model => model.guestName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.guestName)
                @Html.ValidationMessageFor(model => model.guestName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.guestContact, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.guestContact)
                @Html.ValidationMessageFor(model => model.guestContact)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.guestAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.guestAddress)
                @Html.ValidationMessageFor(model => model.guestAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.guestRoomType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.guestRoomType)
                @Html.ValidationMessageFor(model => model.guestRoomType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.guestQuantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.guestQuantity)
                @Html.ValidationMessageFor(model => model.guestQuantity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.guestCheckinDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.guestCheckinDate)
                @Html.ValidationMessageFor(model => model.guestCheckinDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.guestNoOfDaysStay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.guestNoOfDaysStay)
                @Html.ValidationMessageFor(model => model.guestNoOfDaysStay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.roomId, "roomId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("roomId", String.Empty)
                @Html.ValidationMessageFor(model => model.roomId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
